*{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 10vh;
    font-size: 13px;
}

main{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer{
    height: auto;
    font-size: 14px;
}

.fotoPerfil{
    border-radius: 50px;
}

.barraBuscador{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#buscador{
    outline: none;
    border: none;
}

.section_country{
    display: block;
    width: 100%;
}

.section_options{
    display: flex;
    justify-content: space-around;
}

.first_part{
    display: flex;
    justify-content: center;
    width: 50%;
}

.second_part{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.first_part ul{
    display: flex;
    justify-content: space-around;
}

.second_part ul{
    display: flex;
    justify-content: space-around;
}

ul.inicio{
    list-style-type: none;
    text-align: right;
    font-size: 15px; 
}

ul.inicio ol{
    padding: 0px;
    margin: 0px 10px;
    display: inline-block;
}

#lupa{
    width: 30px;
    height: 30px;
}

#microfono{
    width: 35px;
    height: 35px; 
    outline: none;
    background-color: transparent;
    border: none;
}

#camara{
    width: 35px;
    height: 35px;
    outline: none;
    background-color: transparent;
    border: none;
}


